fastapi
uvicorn[standard]
gradio
huggingface_hub<0.26.0

langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq

chromadb
sentence-transformers

beautifulsoup4
datasets

python-dotenv
pydantic
groq
